version: '3'
services:
  database:
    image: postgis/postgis:13-master
    volumes:
      - ./data/database:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'directus'
      POSTGRES_PASSWORD: '123'
      POSTGRES_DB: 'directus'

  directus:
    image: directus/directus:latest
    ports:
      - 8055:8055
    depends_on:
      - database
    environment:
      KEY: 'cb03cdc4-7848-4a6d-9e49-481e1f0ea44c'
      SECRET: '630de81f-3e12-4462-b91e-2cca8ebbecbb'
      ADMIN_EMAIL: 'admin@example.com'
      ADMIN_PASSWORD: 'admin'
      DB_CLIENT: 'pg'
      DB_HOST: 'database'
      DB_PORT: '5432'
      DB_DATABASE: 'directus'
      DB_USER: 'directus'
      DB_PASSWORD: '123'